.app-container {
  max-width: 1400px;
  padding: 2rem 0;
  margin: auto;
}

.label {
  color: skyblue;
}

.positivo {
  color: #4FFF60;
}

.negativo {
  color: #FF5977;
}

.cripto-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}